@if(servicioPuente.barraSuperior()){
<mat-toolbar
  class="header-container cold-bg strong-contrast-text bg-light text-dark fixed-top"
>
  <button
    mat-icon-button
    class="header-nav-icon"
    aria-label="Atras"
    (click)="atras()"
    style="color: black"
    style="
      background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
      margin-left: -10px;
    "
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  @if(!servicioPuente.mostrarPersonaChat()){
  <span
    class="header-title"
    routerLink="/"
    style="color: black; margin-left: 10px; margin-right: 10px"
    >MyKairos</span
  >
  }@else{
  <span
    class="header-title"
    routerLink="/"
    style="color: black; margin-left: 10px; margin-right: 10px"
    >{{ servicioPuente.personaChat() }}</span
  >
  }
  <span class="spacer"></span>
  <a class="nav-item" style="color: white">
    <div class="icon-container">
      <button
        mat-icon-button
        class="header-nav-icon"
        aria-label="Perfil de usuario"
        style="color: black"
        routerLink="/"
        style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%)"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </a>
  <a class="nav-item" style="color: white">
    <div class="icon-container">
      <button
        mat-icon-button
        class="header-nav-icon"
        aria-label="Perfil de usuario"
        style="color: black"
        routerLink="/payment"
        style="background: linear-gradient(135deg, yellow 0%, #2575fc 100%);"
      >
        <mat-icon>payment </mat-icon>
      </button>
    </div>
  </a>
  <div class="header-nav text-black">
    @if(messageService.unreadMessageCounts().length > 0){
    <mat-icon
      matBadge="{{ messageService.unreadMessageCounts()[0].count }}"
      routerLink="/inicio"
      >email</mat-icon
    >

    } @if(!servicioPuente.mostrarPersonaChat()){ @if(!userName()){
    <button
      mat-icon-button
      class="header-nav-icon"
      aria-label="Perfil de usuario"
      style="color: black"
      routerLink="/login"
      style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%)"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    }@else {
    <button
      mat-icon-button
      class="header-nav-icon initial-button"
      aria-label="Perfil de usuario"
      routerLink="/login"
      style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%)"
    >
      <span class="user-initial">{{ getUserInitial() }}</span></button
    >} }@else {
    <button
      mat-icon-button
      class="header-nav-icon initial-button"
      aria-label="Perfil de usuario"
      style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%)"
    >
      <span class="user-initial">{{ servicioPuente.personaChat() }}</span>
    </button>
    }

    <!-- <p style="margin: auto; color: black; margin-left: 5px;">{{userName()}}</p>  -->
  </div>
</mat-toolbar>
}
<div
  class="content"
  style="min-height: 100dvh; margin-top: 60px; margin-bottom: 80px"
>
  <router-outlet></router-outlet>
</div>
<div style="height: 20px"></div>
@if(this.servicioPuente.barraInferior()){
<mat-toolbar class="bottom-nav bg-light text-dark">
  <div class="nav-container" style="color: white">
    @for(item of navItems; track item){
    <a [routerLink]="item.path" class="nav-item" style="color: black">
      <div
        class="icon-container"
        routerLinkActive="activo"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>
      <span style="color: black">{{ item.label }}</span>
    </a>
    }
  </div>
</mat-toolbar>
}
<div class="button-container">
  <!-- Elemento visual que indica la posibilidad de arrastrar -->
  <div
    class="drag-handle"
    (mousedown)="onDragStart($event)"
    (touchstart)="onTouchStart($event)"
  >
    <mat-icon class="drag-icon">drag_indicator</mat-icon>
  </div>

  <button mat-fab class="movable-fab" color="primary" (click)="openKairos()">
    <mat-icon>{{ "K" }}</mat-icon>
  </button>
</div>
