
<mat-card appearance="outlined" style="align-items: center; margin: auto; display: flex; height: 100vh;">
    <mat-card-content style="width: 100%">
        <app-header-card-red title="MyKairos" routerLink="/chat-bot"></app-header-card-red>
        </mat-card-content>
    <mat-card-content style="width: 100%">
<app-header-card-red title="MyProductos" routerLink="/gemini"></app-header-card-red>
</mat-card-content>
<mat-card-content style="width: 100%">
    <app-header-card-red title="MyImageToText" routerLink="/image"></app-header-card-red>
    </mat-card-content>
<mat-card-content style="width: 100%">
    <app-header-card-red title="MyPlaces" routerLink="/houses-map"></app-header-card-red>
    </mat-card-content>

    
        
</mat-card>
