
<div appearance="outlined" style="align-items: start; margin: auto; display: flex; height: 100vh;    ">
    <div style="width: 100%; padding: 20px;">
        <app-header-card-red title="MyKairos" routerLink="/chat-bot"></app-header-card-red>
   
<app-header-card-red title="MyProductos" routerLink="/gemini"></app-header-card-red>
    <app-header-card-red title="MyImageToText" routerLink="/image"></app-header-card-red>
    <app-header-card-red title="MyPlaces" routerLink="/houses-map"></app-header-card-red>
    </div>
    </div>

    
        
