
<div appearance="outlined" style="align-items: start; margin: auto; display: flex; height: 100vh;    ">
    <div style="width: 100%; padding: 20px;">
      <app-header-card-green 
        title="MyTareas" 
        routerLink="/tareas" 
        style="width: 100%;"
        [disponibleSinInternet]="true">
      </app-header-card-green>
      
      <app-header-card-green 
        title="MyLinks" 
        routerLink="/my-links" 
        style="width: 100%;"
        [disponibleSinInternet]="true">
      </app-header-card-green>
      
      <app-header-card-green 
        title="MyResoluciones" 
        routerLink="/my-resoluciones" 
        style="width: 100%;"
        [disponibleSinInternet]="false">
      </app-header-card-green>
      
      <app-header-card-green 
        title="MyNotas" 
        routerLink="/my-editor-inicio" 
        style="width: 100%;"
        [disponibleSinInternet]="true">
      </app-header-card-green>
    </div>
  </div>