
<div appearance="outlined" style="align-items: start; margin: auto; display: flex; height: 100vh;    ">
    <div style="width: 100%; padding: 20px;">
<app-header-card title="MyDevocionales" routerLink="/my-devocionales" style="width: 100%;"
[disponibleSinInternet]="true">
></app-header-card>
<app-header-card title="MyOraciones" routerLink="/my-oraciones" style="width: 100%;"></app-header-card>
<app-header-card title="MyBatalla" routerLink="/my-batalla" style="width: 100%;"></app-header-card>
    </div>
</div>

