<div class="user-banner animated fadeIn">
  <div class="profile-info">
    <div class="profile-picture animated bounceIn">
      <div class="profile-icon" [ngStyle]="{'background-color': getColor(user()?.userName)}">
        {{ user()?.userName?.charAt(0) | uppercase }}
      </div>
    </div>
    <div class="user-details">
      <h2 class="username animated fadeInRight">{{ user()?.userName }}</h2>
      <span class="user-id animated fadeInRight delay-1s"> <span class="fw-bold">Id: </span> {{user()?.id}}</span>
      <p class="id-note animated fadeInUp delay-2s"> (Comparte tu Id <b>solo con tu pareja</b> para compartir MyFinanzas)</p>
    </div>
  </div>
</div>

<mat-card appearance="outlined" class="edit-card animated slideInUp">
  <mat-card-header>
    <mat-card-title>Editar Perfil</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" class="edit-form">
      <!-- <div class="form-field animated fadeInUp delay-1s">
        <label for="phoneNumber">Teléfono:</label>
        <input id="phoneNumber" matInput formControlName="phoneNumber" type="tel" placeholder="Solo números"/>
        <mat-hint>Introduce tu número sin guiones.</mat-hint>
      </div> -->

      <div class="form-field animated fadeInUp delay-2s">
        <label for="password">Nueva Contraseña:</label>
        <input id="password" matInput formControlName="password" type="password" placeholder="Deja en blanco si no quieres cambiarla"/>
      </div>

      <div class="form-field animated fadeInUp delay-3s">
         <label for="partner">ID de tu Pareja:</label>
         <input id="partner" matInput formControlName="partner" type="text" placeholder="Ingresa el ID de tu pareja"/>
      </div>

      <mat-card-actions class="form-actions animated fadeInUp delay-4s">
        <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="userForm.invalid">Guardar Cambios</button>
        <button mat-stroked-button color="warn" (click)="logOut()">Cerrar Sesión</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>